# Project Configuration
PROJECT_NAME="Smart Hybrid Conference Management Platform"
ENV=development
DEBUG=true
API_V1_STR=/api/v1

# Security
# Run "openssl rand -hex 32" to generate a secure secret key
SECRET_KEY=918db4bb4b553e198642cd02a832c3f87c10b7596ad7064d1f2780bb298516fb
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database (PostgreSQL)
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secret_password
POSTGRES_DB=conference_db
POSTGRES_PORT=5432

# Database URL for SQLAlchemy (psycopg)
# Used inside app, override if running outside docker
DATABASE_URL=postgresql+psycopg://postgres:postgres_secret_password@localhost:5432/conference_db

# CORS Configuration
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://localhost", "http://localhost:8000"]

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@conference-platform.com
PGADMIN_DEFAULT_PASSWORD=admin_secret_password
